APP_ENV=development
DB_HOST=127.0.0.1
DB_NAME=e93ud_bank
DB_USER=bababank
DB_PASSWORD=change-me
SESSION_NAME=bababank_session
SESSION_SAMESITE=Lax
SESSION_SECURE=false
GOOGLE_CLIENT_ID=
GOOGLE_JWKS_URL=https://www.googleapis.com/oauth2/v3/certs
